<form method="GET">
    <input type="text" name="username" placeholder="Enter Username"/>
    <button type="submit">Search</button>
</form>
<table border='1' cellpadding="10">
    <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Address</th>
        <th>Date & Time</th>
    </tr>
    {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>
                <img src="{{i.image}}" width='100' alt="image"/>
            </td>
            <td>{{i.username}}</td>
            <td>{{i.password}}</td>
            <td>{{i.email}}</td>
            <td>{{i.address}}</td>
            <td>{{i.create_at}}</td>
        </tr>
    {% endfor %}
</table>