<h2>List of Books</h2>
<table border="1" cellpadding="7"> 
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Public Date</th>
        <th>Action</th>
    </tr>
    {% for i in book %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.author}}</td>
            <td>{{i.public_date}}</td>
            <td>
                <a href="{% url 'detail' i.id %}">
                    <button>Detail</button>
                </a>
                <a href="{% url 'update' i.id %}">
                    <button>Update</button>
                </a>    
                <a href="{% url 'delete' i.id %}" onclick="return confirm('Are you sure?')">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
    {% endfor %}

</table>

<br><br>

<a href="{% url 'add' %}">Add Book Detail</a>