{% if request.user.is_authenticated %}
<form method="POST">
  {% csrf_token %}
  <input
    type="text"
    name="username"
    placeholder="Enter username"
    value="{{ data.username }}"
  /><br /><br />
  <input
    type="password"
    name="password"
    placeholder="Enter password"
    value="{{ data.password }}"
  /><br /><br />
  <input
    type="email"
    name="email"
    placeholder="Enter email"
    value="{{ data.email }}"
  /><br /><br />
  <button type="submit">Update</button>
</form>
{% else %}
    <h3>Please Login First</h3>
    <a href="{% url "index" %}">GO TO HOME</a>
{% endif %}