<h2>Contact List</h2>
<table border="1" cellpadding="10">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Action</th>
    <tr>
    {% for i in contact %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>
                <a href="{% url 'detail_contact' i.id %}"> <button>Detail</button> </a>
                <a href="{% url 'update_contact' i.id %}"> <button>Update</button> </a>
                <a href="{% url 'delete_contact' i.id %}" onclick="return confirm('Are you sure')"> <button>Delete</button> </a>
            </td>
        <tr>
    {% endfor %}
</table>

<br><br>
<a href="{% url 'add_contact' %}">Add Contact</a><br><br>
<a href="{% url 'add_phonenum' %}">Add Phone Number</a>