<a href="{% url 'add_user' %}"><button>Add User</button></a>

<a href="{% url 'list_user' %}"><button>List User</button></a><br><br>

<a href="{% url 'add_event' %}"><button>Add Event</button></a>

<a href="{% url 'list_event' %}"><button>List Event</button></a><br><br>

<a href="{% url 'add_attendee' %}"><button>Add Attendee</button></a>

<a href="{% url 'list_attendee' %}"><button>List Attendee</button></a><br><br>

<a href="{% url 'add_session' %}"><button>Add Session</button></a>

<a href="{% url 'list_session' %}"><button>List Session</button></a><br><br>